.info {
  padding: 5px;
  p {
    font-size: small;
  }
  ul {
    font-size: small;
    list-style-type: circle;
  }
}

.div-count-day {
  .display-count-day {
    p {
      font-size: small;
    }
  }
}
